@page "/collections"
@inject HttpClient Http
@inject NavigationManager NavigationManager

@using DevelopmentProject.Shared.Entities

<h3>Collections Overview</h3>

@if (userIdCollection.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Collection Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collect in userIdCollection)
            {
                <tr>
                    <td>@collect.CollectionVocabId</td>
                    <td>@collect.CollectionVocabName</td>
                    <td><button class="btn btn-primary" @onclick="@(() => EditCollection(@collect.CollectionVocabId))"> Edit </button></td>
                    <td><button class="btn btn-danger" @onclick="@(() => RemoveCollection(@collect.CollectionVocabId))"> Remove </button></td>
                    <td><button class="btn btn-primary" @onclick="@(() => ViewVocab(@collect.CollectionVocabId))"> View </button></td>  
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="AddCollection">Add a new collection </button>



@code {

    List<CollectionVocab> collectionDetails = new List<CollectionVocab>();
    List<CollectionVocab> userIdCollection = new List<CollectionVocab>();


    protected override async Task OnInitializedAsync()
    {
        await LoadCollection();
    }

    async Task LoadCollection()
    {
        var results = await Http.GetFromJsonAsync<List<CollectionVocab>>("api/collectionData");

        if (results is not null)
        {
            collectionDetails = results;
            userIdCollection = collectionDetails.Where(x => x.UserId == 1).ToList(); //puts all the objects of UserId 1 in a list
        }
    
        
    }


    void EditCollection(int Id)
    {
        NavigationManager.NavigateTo($"edit-collection/{Id}");
    }
    void ViewVocab(int Id)
    {
        NavigationManager.NavigateTo($"view-collection-vocab/{Id}");
    }
    void AddCollection()
    {
        NavigationManager.NavigateTo("edit-collection");
    }

    async Task RemoveCollection(int Id)
    {
        await Http.DeleteAsync($"api/collectionData/{Id}");
        await LoadCollection();


}
}